* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html,
body {
    height: 100%;
    width: 90%;
}





.container {

    display: grid;
    grid-template-rows: 1fr 1fr 10fr;
    grid-template-columns: 1fr 4fr;
    height: 100%;
}



.sidebar {
    font-weight: bold;
    color: white;
    background-color: #0077b6;

    grid-column: 1 / 2;
    grid-row: 1 / 4;

    display: flex;
    flex-direction: column;
    gap: 50px;
}

.sideItem {
    padding-left: 50px;
}

.sideItem>* {
    align-self: center;
    margin: 10px;
}

.logo {
    margin-top: 20px;
    align-self: center;
    font-size: 3vh;

}

.headerTop {
    grid-column: 2 / -1;
    grid-row: 1 / 2;

    display: grid;
    grid-template-columns: 4fr 1fr 1fr 1fr;
}

.headerBtm {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
}

.headerBtm> :first-child {
    display: grid;
    grid-template-columns: 90px 1fr;
    grid-template-rows: 35px 35px;

    margin-left: 50px;
}

.headerBtm> :first-child>.pfp {

    grid-row: 1 / 3;

    height: 70px;
    width: 70px;
    background-color: wheat;
    border-radius: 50%;

}

.headerBtm>div>p {
    align-self: end;
    font-weight: bold;
}

.headerBtm> :last-child {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.headerBtm button {
    background-color: #0077b6;
    height: 40px;
    width: 100px;
    border: 0;
    border-radius: 30px;
    color: white;
    font-weight: bold;
}

.article {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}