* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html,
body {
    height: 100%;
}



.container {

    display: grid;
    grid-template-rows: 1fr 1fr 10fr;
    grid-template-columns: 1fr 2fr 8fr 1fr;
    height: 100%;
}



.container>div {}

.sidebar {
    font-weight: bold;
    color: white;
    background-color: #0077b6;

    grid-column: 2 / 3;
    grid-row: 1 / 4;

    display: flex;
    flex-direction: column;
    gap: 50px;
}

.sideItem {
    padding-left: 50px;
}

.sideItem>* {
    align-self: center;
    margin: 10px;
}

.logo {
    margin-top: 20px;
    align-self: center;
    font-size: 3vh;

}

.headerTop {
    grid-column: 3 / -2;
    grid-row: 1 / 2;

    display: grid;
    grid-template-columns: 4fr 1fr 1fr 1fr;
}

.article {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}


.empty1 {
    grid-column: 1 / 2;
    grid-row: 1 / -1;

    background-color: black;
}

.empty2 {
    grid-column: -1 / -2;
    grid-row: -1 / 1;

    background-color: black;
}