* {
    margin: 0;
    padding: 0;
    font-family: "Roboto";
}

html,
body {
    height: 100%;
    width: 90%;
    background-color: rgb(213, 218, 226);
}

@font-face {
    font-family: "Roboto";
    src: url("assets/Fonts/Roboto/Roboto-VariableFont_wdth,wght.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
}



.container {

    display: grid;
    grid-template-rows: 1fr 1fr 10fr;
    grid-template-columns: 1fr 4fr;
    height: 100%;
}



.sidebar {
    font-weight: bold;
    color: white;
    background-color: #0077b6;

    grid-column: 1 / 2;
    grid-row: 1 / 4;

    display: flex;
    flex-direction: column;
    gap: 30px;
}

.sideItem1 {
    padding-left: 30px;

    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto;
}

.sideItem1>* {
    align-self: center;
    margin: 10px;
}

.sideItem2 {
    padding-left: 30px;

    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto;
}

.sideItem2>* {
    align-self: center;
    margin: 10px;
}

.logo {
    margin-top: 20px;
    align-self: center;
    font-size: 3vh;

    display: flex;
    align-items: center;

    gap: 10px;
}

.headerTop {
    grid-column: 2 / -1;
    grid-row: 1 / 2;

    display: grid;
    grid-template-columns: 2fr 1fr;

    background-color: white;


}

.headerTop> :nth-child(2) {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: flex-end;
    margin-right: 30px;
}

.headerTop> :first-child {
    margin-left: 50px;
    display: flex;
}

.headerTop .headerItem {
    font-weight: bold;
}

img[alt="magn"] {
    align-self: center;
}

.headerTop input {
    width: 80%;
    padding: 6px;
    margin: 25px 15px;
    box-sizing: border-box;
    border-radius: 50px;
    border: 0;
    background-color: rgb(213, 218, 226);
}

.pfpSmall {
    height: 50px;
    width: 50px;
    background-color: wheat;
    border-radius: 50%;
}

input:focus {
    /* remove border focus color*/
}


.headerBtm {
    display: grid;
    grid-template-columns: 1.5fr 1fr;

    box-shadow: 0px 8px 8px -8px gray;
    background-color: white;
}

.headerBtm> :first-child {
    display: grid;
    grid-template-columns: 90px 1fr;
    grid-template-rows: 35px 35px;

    margin-left: 50px;
}

.headerBtm> :first-child>.pfp {

    grid-row: 1 / 3;

    height: 70px;
    width: 70px;
    background-color: wheat;
    border-radius: 50%;

}

.headerBtm>div>p {
    align-self: end;
    font-weight: bold;
}

.headerBtm> :last-child {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.headerBtm button {
    background-color: #0077b6;
    height: 40px;
    width: 100px;
    border: 0;
    border-radius: 30px;
    color: white;
    font-weight: bold;
}

.article {
    grid-column: 2 / 3;
    grid-row: 3 / 4;

    display: grid;
    grid-template-columns: 2.15fr 0.85fr;

}

.col1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 30px;
    grid-auto-rows: 200px;
    padding-top: 20px;
    padding-left: 20px;
    gap: 20px;

    text-align: left;
}



.projectBox {
    background-color: white;
    border-radius: 0.5rem;
    padding: 30px;

    position: relative;
}

.projectBox::before {
    content: ' ';
    position: absolute;
    width: 7px;
    height: 200px;
    background-color: orange;
    top: 0;
    left: 0;

    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

}

.projectBox>h1 {
    font-size: 1rem;
}

.projectBox>p {
    font-size: 1rem;
    color: gray;
}

.col1>h1 {
    grid-column: 1 / 3;
    font-size: 2vh;
}

.col2 {
    border: solid black;
}